* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: #120929;
  margin: 0 auto;
}

.container {
  width: 90%;
  max-width: 1720px;
  padding: 0 20px;
  text-align: center;
  margin: 0 auto;
}
