* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100%;
  background: radial-gradient(
    87.34% 56.16% at 46.63% 48.05%,
    #20135c 0%,
    #140739 92.82%
  );
  margin: 0 auto;
}

.btn_active {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  background: #32395e;
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
}

.container {
  width: 100%;
  max-width: 1920px;
}
.content {
  max-width: 1920px;
  text-align: center;
  margin: 0 auto;
  margin-left: 18%;
  padding: 50px 20px 0 0;
}
.content_header {
  max-width: 1920px;
  text-align: center;
  margin: 0 auto;
}
header {
  width: 80%;
  padding: 32px 20px 24px;
  margin-left: 18%;
  position: relative;
}
header::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #2d317a;
  position: absolute;
  top: 100px;
  right: 0;
}

header .headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .headerLeft {
  position: relative;
}
header .headerLeft input {
  width: 300px;
  height: 32px;
  border-radius: 25px;
  background: #161245;
  box-shadow: 0px 4px 20px 0px rgba(3, 16, 52, 0.5);
  border: none;
  outline-color: #1288e8;
  padding: 0 50px 0 15px;
  color: white;
  font-size: 18px;
}
header .headerLeft img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 5px;
  right: 10px;
}
header .headerRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}
header .headerRight .img1 {
  position: absolute;
  right: 13%;
  top: 30px;
}
header .headerRight .img2 {
  width: 80px;
  height: 50px;
  position: absolute;
  right: 5%;
}

.dashBoard {
  position: fixed;
  width: 15%;
  max-width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 10px 0;
  border-radius: 8px 0px 0px 8px;
  background: linear-gradient(
    0deg,
    rgba(28, 35, 64, 0) -5.79%,
    #1c0f54 114.59%
  );
  box-shadow: 0px -5px 25px 0px rgba(0, 3, 32, 0.5);
}
.dashBoard .dashTop {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  padding-left: 10%;
}
.dashBoard .dashTop h1 {
  text-shadow: 0px 5px 12px rgba(6, 5, 19, 0.25);
  font-family: Raleway !important;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background: linear-gradient(
    272deg,
    #3887fe 4.26%,
    #3ba0ff 51.37%,
    #5fb2ff 99.01%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 24px 0 20px;
}
.dashBoard .dashTop h1::after {
  content: "";
  display: block;
  width: 99.996px;
  height: 2px;
  background: #1288e8;
}
.dashBoard .dashTop .box,
.dashBoard .dashBottom .box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.dashBoard .dashTop .box a,
.dashBoard .dashBottom .box p {
  color: #616a8b;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
.dashBoard .dashBottom {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  padding-left: 10%;
}
.dashBoard .dashBottom .box2 {
  cursor: pointer;
}

.content .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.content .top .topLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.content .top .topLeft h2 {
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.content .top .topLeft p {
  color: #54669c;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.content .top button {
  cursor: pointer;
  width: 125px;
  height: 32px;
  border-radius: 25px;
  background: linear-gradient(
    272deg,
    #3887fe 4.26%,
    #3ba0ff 51.37%,
    #5fb2ff 99.01%
  );
  box-shadow: 0px 2px 4px 0px rgba(85, 35, 221, 0.4);
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  border: none;
}

.content .top button:hover {
  opacity: 0.9;
}
.content .top button:active {
  box-shadow: 0px 3px 4px 0px rgba(85, 35, 221, 0.4);
}
.statistics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  justify-content: center;
  gap: 16px;
}
.statistics div {
  border-radius: 5px;
}

#balance {
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(27, 18, 78, 0.2) 0%, #0f0b38 93.37%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  grid-column: 1/2;
  grid-row: 1/3;
}
#spending {
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(27, 18, 78, 0.2) 0%, #0f0b38 93.37%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  grid-column: 2/3;
  grid-row: 1/3;
}
#bitcoin {
  border-radius: 14px;
  grid-column: 3/4;
  grid-row: 1/2;
  background: linear-gradient(237deg, #604392 -8.06%, #0f0b38 96.63%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
}
#gridcoin {
  border-radius: 5px;
  background: linear-gradient(237deg, #d66168 -8.06%, #0f0b38 96.63%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  grid-column: 4/5;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#ethereum {
  border-radius: 5px;
  background: linear-gradient(237deg, #6162d6 -8.06%, #0f0b38 96.63%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#aeternity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 14px;
  grid-column: 4/5;
  grid-row: 2/3;
  border-radius: 5px;
  background: linear-gradient(237deg, #eb8338 -8.06%, #0f0b38 96.63%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
}

.chartblock {
  width: 80%;
  border: none;
  margin: 0 auto;
}
.chartBlock2 {
  width: 90%;
  margin: 0 auto;
}

#balance h3 {
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  padding: 10px 0 0 10px;
}

#bal1,
#bal2,
#bal3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding: 5px;
}

#bal1 div,
#bal2 div,
#bal3 div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  position: relative;
}
#bal1 div img,
#bal2 div img,
#bal3 div img {
  position: absolute;
  left: 0;
  top: 4px;
}

#bal1 div p,
#bal2 div p,
#bal3 div p {
  color: #fff;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  padding-left: 20px;
}
#bal1 p,
#bal2 p,
#bal3 p {
  color: #fff;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 700;
  padding-right: 5px;
}
#spending .totalSpending {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 5px;
  padding: 50px 0 50px 10px !important;
  text-align: left;
}
#spending div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0 10px;
}

#spending div h2 {
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
}

#spending div select {
  background-color: rgba(27, 18, 78, 0.2);
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 300;
  border: none;
  outline: none;
}
.totalSpending h4 {
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
}
.totalSpending p {
  color: #fff;
  font-family: Open Sans;
  font-size: 8px;
  font-weight: 300;
}

#market {
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(
    177deg,
    rgba(27, 18, 78, 0.2) -32.8%,
    #0f0b38 88.83%
  );
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
  grid-column: 1/3;
  grid-row: 3/4;
  padding: 0 20px 10px;
}
#market .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
  padding: 10px;
}
#market .top select {
  outline: none;
  border: none;
  background-color: rgba(27, 18, 78, 0.2);
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 300;
}
#market .top div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
#market .top div h4 {
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

#news {
  border-radius: 14px;
  grid-column: 3/5;
  grid-row: 3/4;
  padding: 10px;
  border-radius: 5px;
  background: linear-gradient(
    185deg,
    rgba(27, 18, 78, 0.2) 3.73%,
    #0f0b38 95.83%
  );
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  height: 340px;
}
#news .top {
  text-align: left !important;
}
#news .top h4 {
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
}
#news::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #2d317a;
  position: absolute;
  top: 10%;
  left: 0;
}
.cart-container {
  width: 100%;
  height: 90%;
  position: relative;
  overflow: hidden;
}

.cart-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 100px;
  background: linear-gradient(transparent, #0f0b38);
  position: absolute;
  bottom: 0;
}
.cart-container table {
  text-align: left;
}
.cart-container table tbody tr td {
  color: #fff;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
}
.cart-container table tbody tr td::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #2d317a;
  margin-top: 5px;
}

//         WALLETS
.wallet {
  grid-column: 3/5;
  grid-row: 1/2;
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr) !important;
  grid-auto-rows: 180px;
  grid-gap: 24px;
}
.wallets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 180px;
  grid-gap: 24px;
  .box {
    width: 100%;
    height: 180px;
    flex-shrink: 0;
    border-radius: 15px;
    padding: 19px 23px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    p {
      color: #fff;
      font-family: Gilroy;
      font-size: 18px;
      font-weight: 700;
    }
    h2 {
      color: #fff;
      font-family: Gilroy;
      font-size: 28px;
      font-weight: 900;
      margin-bottom: 78px;
    }
  }
}

.bg_one {
  background: linear-gradient(237deg, #604392 -8.06%, #0f0b38 96.63%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
}

.bg_two {
  background: linear-gradient(237deg, #d66168 -8.06%, #0f0b38 96.63%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
}

.bg_three {
  background: linear-gradient(237deg, #6162d6 -8.06%, #0f0b38 96.63%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
}

.bg_four {
  background: linear-gradient(237deg, #eb8338 -8.06%, #0f0b38 96.63%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
}
