* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 2% 50px;
  overflow: hidden !important;
}

.mainLeft {
    z-index: 1;
  width: 35%;
  height: fit-content;
  padding: 80px 50px 40px;
  border-radius: 8px;
  background: linear-gradient(180deg, #1e1156 0%, rgba(28, 35, 64, 0) 100%);
  box-shadow: 0px 25px 25px 0px rgba(0, 3, 32, 0.5);
}

.mainLeft h3 {
  color: #fff;
  text-shadow: 0px 4px 20px rgba(1, 143, 255, 0.15);
  font-weight: 500;
  font-size: 36px;
  padding-bottom: 62px;
}

.mainLeft form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 26px;
}

.inpEmail {
  position: relative;
}
.inpEmail .circle {
  position: absolute;
  top: 12px;
  left: 8px;
  width: 35px;
  height: 35px;
  border: 1px solid #5fb2ff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.inpEmail input,
.inpPassword input {
  width: 100%;
  height: 58px;
  border-radius: 8px;
  background: #2e3558;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  border: none;
  outline-color: #5fb2ff;
  padding: 10px 10px 10px 50px;
  color: #616a8b;
  font-size: 16px;
  font-weight: 400;
}
.inpPassword {
  position: relative;
}
.inpPassword #img1 {
  top: 12px;
  left: 5px;
  position: absolute;
}
.inpPassword #img2 {
  top: 20px;
  right: 15px;
  position: absolute;
  cursor: pointer;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 100px;
}
.btns button {
  width: 110px;
  height: 42px;
  border-radius: 8px;
  background: linear-gradient(88deg, #2f3453 11.5%, #242845 76.7%);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  color: #949ec0;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.btns button:hover {
  opacity: 0.9;
}
.btns button:active {
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.15);
}
.mainLeft a {
  color: #5fb2ff;
  font-size: 14px;
  font-weight: 400;
  text-decoration-line: underline;
}
.mainRight {
  position: absolute;
  right: 15%;
  top: 50%;
  translate: -15% -50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.mainRight h2 {
  text-shadow: 0px 5px 12px rgba(6, 5, 19, 0.25);
  font-family: Raleway !important;
  font-size: 72px;
  font-weight: 800;
  letter-spacing: 3.6px;
  background: linear-gradient(
    272deg,
    #3887fe 4.26%,
    #3ba0ff 51.37%,
    #5fb2ff 99.01%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mainRight span {
  width: 175px;
  height: 2px;
  background: #1288e8;
}
.mainRight p {
  color: #fff;
  text-shadow: 0px 4px 20px rgba(1, 143, 255, 0.15);
  font-size: 24px;
  font-weight: 300;
  padding-top: 12px;
}
.btns .btn_active {
  width: 110px;
  height: 42px;
  border-radius: 8px;
  background: linear-gradient(
    272deg,
    #3887fe 4.26%,
    #3ba0ff 51.37%,
    #5fb2ff 99.01%
  );
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
#absImg1 {
  position: absolute;
  left: -20px;
  top: 15%;
  z-index: 2;
}
#absImg2 {
  position: absolute;
  top: 10%;
  left: 35%;
  z-index: -1;
}
#absImg3 {
  position: absolute;
  bottom: 20%;
  left: 50%;
}
#absImg4 {
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
#absImg5 {
  width: 100%;
  height: 557px;
  position: absolute;
  top: 17%;
  right: 0;
}



